# Игнорировать файлы среды разработки
__pycache__/
*.pyc

# Игнорировать виртуальные окружения
.venv/
env/
venv/
*.egg-info/

# Игнорировать конфигурационные файлы
config.py
.env

# Игнорировать лог-файлы
*.log

# Игнорировать документы и прочие несоответствующие файлы
*.docx
*.doc
*.pdf
*.png
*.pgerd

