<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рецепты</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Рецепты</h1>
    <table >
        <thead>
            <tr>
                <th>ID Рецепта</th>
                <th>Медикамент</th>
                <th>Пациент</th>
                <th>Специалист</th>
                <th>Дата рецепта</th>
                <th>Инструкция по применению</th>
            </tr>
        </thead>
        <tbody>
            {% for prescription in prescriptions %}
            <tr>
                <td>{{ prescription.prescription_id }}</td>
                <td>{{ prescription.medicament.medicament_name }}</td>
                <td>{{ prescription.patient.name }} {{ prescription.patient.surname }}</td>
                <td>{{ prescription.specialist.name }} {{ prescription.specialist.surname }}</td>
                <td>{{ prescription.prescription_date }}</td>
                <td>{{ prescription.instruction }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('index') }}">Вернуться на главную страницу</a>
</body>
</html>
