<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specialists</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>Добавить специалиста</h2>
    <form action="{{ url_for('add_specialist') }}" method="POST">
        <label for="name">Имя:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="surname">Фамилия:</label><br>
        <input type="text" id="surname" name="surname"><br>
        <label for="timetable">Расписание:</label><br>
        <input type="text" id="timetable" name="timetable"><br>
        <label for="contact_info">Контактная информация:</label><br>
        <input type="text" id="contact_info" name="contact_info"><br>
        <label for="specialization_name">Специализация:</label><br>
        <select id="specialization_name" name="specialization_name">
            {% for specialization in specializations %}
            <option value="{{ specialization.specialization_name }}">{{ specialization.specialization_name }}</option>
            {% endfor %}
        </select><br>
        <button type="submit">Добавить</button>
    </form>
    <h1>Специалисты</h1>
    <form action="{{ url_for('search_specialists') }}" method="GET">
        <input type="text" name="query" placeholder="Поиск по специлистам">
        <button type="submit">Найти</button>
    </form>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Часы работы</th>
            <th>Контактная информация</th>
            <th>Специализация</th>
        </tr>
        {% for specialist in specialists %}
        <tr>
            <td>{{ specialist.specialist_id }}</td>
            <td>{{ specialist.name }}</td>
            <td>{{ specialist.surname }}</td>
            <td>{{ specialist.timetable }}</td>
            <td>{{ specialist.contact_info }}</td>
            <td>{{ specialist.specialization.specialization_name }}</td>  <!-- Отображаем имя специализации -->
            <td>
                <form action="{{ url_for('edit_specialist', specialist_id=specialist.specialist_id) }}" method="GET">
                    <button type="submit">Редактировать</button>
                </form>
            </td>
            <td>
                <form action="/delete_specialist/{{ specialist.specialist_id }}" method="POST">
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('index') }}">Вернуться на главную</a>
</body>
</html>
